body{
    margin:0;
}

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;551&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 375px;
    min-height: 540px;
    height: 100vh;
    padding: 0;
    margin: 0;

    z-index: 0;
}

    .home {
        width: 100%;
        min-height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: #2e2e2e;
        background-attachment: fixed;
        background-size: cover;

        z-index: 0;
    }

        .home__title {
            margin: 0;
            font-weight: 800;
            color: #ffeaa7;
            font-size: 2.79em;
        }

        @media (min-width: 768px) {
            .home__title {                
                font-size: 3.96em;
            }
        }

        .home__subtitle {
            width: 81%;
            margin: 0;
            color: white;
            font-weight: 400;
            font-size: 1.62em;
            text-align: center;
        }

        @media (min-width: 768px) {
            .home__subtitle {                
                font-size: 2.34em;
            }            
        }
    
    .about-me {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        background-color: #52a9ff;

        z-index: 0;
    }

    @media (min-width: 768px) {
        .about-me {
            justify-content: flex-end;
        }
    }

        .about-me__content {
            width: 81%;
            height: 100vh;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        @media (min-width: 768px) {
            .about-me__content {
                width: 51%;
                margin: 0 63px 0 0;
            }
        }

        @media (min-width: 945px) {
            .about-me__content {
                width: 54%;
                margin: 0 63px 0 0;
            }
        }

        .about-me__image {
            display: none;
            position: absolute;
            bottom: -100%;
            left: 3%;
            min-width: 405px;
            min-height: 405px;
            background-size: contain;

            z-index: 0;
        }

        @media (min-width: 768px) {
            .about-me__image {
                display: inherit;
            }
        }

        .about-me__title {
            margin: 0;
            width: 100%;
            text-align: center;
            font-weight: 800;
            padding: 27px 0 0 0 ;
            font-size: 2.43em;
        }

        .about-me__text {
            width: 100%;
            text-align: justify;
            font-size: 1.458em;

            z-index: 1;
        }

            .about-me__mark {
                background-color: rgba(255, 255, 255, 0.27);
                font-weight: 600;
                border-radius: 3px;
            }

        @media (min-width: 768px) {
            .about-me__title {
                text-align: end;
                font-size: 3.6em;
            }

            .about-me__text {
                text-align: end;
                font-size: 1.53em;
            }
        }

        .about-me__hashtags {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;

            z-index: 1;
        }

        @media (min-width: 768px) {
            .about-me__hashtags {
                justify-content: flex-end;
            }
        }

            .about-me__hashtag {
                margin: 3px;
                padding: 3px 5px;
                background-color: #ffffff77;
                border-radius: 3px;
                cursor: pointer;
            }

            .about-me__hashtag:hover {
                background-color: #ffffffbe;
            }

    .services, .portfolio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        min-height: 100vh;
        background-color: #2e2e2e;
        color: white;
        z-index: 0;
    }

    @media (min-width: 768px) {
        .services, .portfolio {
            flex-direction: initial;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

        .services__service, .portfolio__work {
            display: flex;
            flex-direction: column;
            align-items: center;

            margin: 0;
            padding: 0 18px;
            min-width: 300px;
            max-width: 405px;
        }

            .services__title, .portfolio__title {
                margin: 0;
                width: 100%;
                font-weight: 800;
                text-align: center;
                color: #6affd5;
                padding: 90px 0 45px 0;
                font-size: 2.43em;
            }

            .portfolio__title--blue {
                color: rgb(112, 191, 255);
            }

            @media (min-width: 1080px) {
                .services__title, .portfolio__title {
                    width: 100%;
                    text-align: center;
                    font-size: 3.6em;
                }
            }

                .services__service-icon, .portfolio__work-icon {
                    margin: 0;
                    color: #55efc4 ;
                    text-align: center;
                    font-size: 23.4vmin;
                }

                .portfolio__work-icon--blue {
                    color: rgb(112, 191, 255);
                }

                @media (min-width: 1080px) {
                    .services__service-icon, .portfolio__work-icon {
                        font-size: 20.7vmin;
                    }
                }

                .services__service-title, .portfolio__work-title {
                    margin: 0;
                    padding: 27px 0;
                    font-weight: 700;
                    font-size: 1.8em;
                    text-align: center;
                }

                @media (min-width: 1080px) {
                    .services__service-title, .portfolio__work-title {
                        font-size: 2em;
                    }
                }

                .services__service-text, .portfolio__work-text {
                    margin: 0;
                    font-weight: 100;
                    width: 100%;
                    height: 150px;
                    text-align: justify;  
                    font-size: 1.35em;
                }

                @media (min-width: 1080px) {
                    .services__service-text, .portfolio__work-text {
                        font-size: 2em;
                        font-size: 1.17em;
                    }
                }

                .portfolio__work-link {
                    color: rgb(104, 187, 255);
                    font-weight: 900;
                }

    .home-link {
        position: fixed;
        bottom: 18px;
        right: 30px;
    }            

    .home-link__button {
        border: none;
        border-radius: 3px;
        padding: 3px 9px;
        font-size: 1.44em;
        font-weight: 600;
        cursor: pointer;
        background-color: #74ffd7b9;
    }

    .home-link__button:hover {
        background-color: #74ffd8ce;
    }

    .home-link__button--black {
        background-color: #121212b9;
        color: #ffe799;
    }

    .home-link__button--black:hover {
        background-color: #121212dd;
    }