@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;700&display=swap");

*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;
}

.bienvenida{
    width: 100vw;
    height: 616px;
    background-image: url("../img/imagen_bienvenida.png");
  }

  .bienvenida__conteiner-titulos {
    height: 546px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .bienvenida__titulo {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
  }
  
  .bienvenida__subtitulo {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
  }

